/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

.container{
    margin: 0 auto;
    width: 1200px;
}

body{
    font-family: 'Fredoka', sans-serif;
}
header{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
    color: #E53170;
    padding: 50px;
}

p{
    font-size: 20px;
    text-align: center;
}

a{
    text-decoration-line: none;
    color: #65C6D0;
}
.column{
    width: calc( 100% / 3 );
    padding: 10px;
}


.card{
    background-color: black;
    color: white;
    height: 100px;
}

.image-content, .card-image{
    height: 100%;
}

.flex{
    display: flex;
}

.card-content{
    padding: 10px;
    line-height: calc(80px / 3);
}

.row{
    flex-wrap: wrap;
    margin-top: 50px;
}